/* eslint-disable @next/next/no-img-element */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
:root {
  --color-bg1: #93fefb;
  --color-bg2: #93fefb;
  --color1: 251, 255, 22;
  --color2: 250, 254, 124;
  --color3: 251, 255, 22;
  --color4: 197, 254, 147;
  --color5: 251, 255, 22;
  --color-interactive: 140, 100, 255;
  --circle-size: 100%;
  --blending: hard-light;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: #a7dadac5;
}

::-webkit-scrollbar-thumb {
  background: #99fefb;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* search container */

.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
}

.searchbutton {
  position: absolute;
  font-size: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  padding-top: 14px;
  padding-left: 10px;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: rgba(255, 255, 255, 0.61);
  color: black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search {
  position: absolute;
  left: 49px;
  background-color: rgba(255, 255, 255, 0.61);
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search:focus {
  width: 330px;
  padding: 0 16px 0 0;
}

.expandright {
  left: auto;
  right: 49px;
}

.expandright:focus {
  padding: 0 0 0 16px;
}

/* navbar */
.navbar1 {
  background-color: none !important;
}

.navbar1.colorChange {
  background-color: transparent;
}
header {
  max-width: 100% !important;
}

.data-\[menu-open\=true\]\:backdrop-blur-xl[data-menu-open="true"] {
  backdrop-filter: none !important;
}

/* banner */
.banner-bg {
  background-image: url("https://assets.website-files.com/5837424ae11409586f837994/611b2d3c1a84f270060c9ec1_Texture.png"),
    linear-gradient(90deg, rgb(0, 32, 92) 1%, rgb(115, 124, 208) 97%);
}
/*  */

.mySwiper .swiper-pagination-bullet {
  background: #000;
  width: 10px;
  height: 10px;
}

.mySwiper .swiper-pagination-bullet-active {
  background: white;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-20%) translateY(-5%);
  }
  50% {
    transform: translateX(20%) translateY(5%);
  }
  100% {
    transform: translateX(-20%) translateY(-5%);
  }
}

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
}

.gradient-bg {
  width: 100%;
  height: auto; /* Adjust height here */
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}

.gradient-bg svg {
  display: none;
}

.gradient-bg .gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
  position: fixed; /* Changed to fixed */
  top: 0;
  left: 0;
}

.gradient-bg .g1,
.gradient-bg .g2,
.gradient-bg .g3,
.gradient-bg .g4,
.gradient-bg .g5 {
  position: fixed; /* Changed to fixed */
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  opacity: 1;
}

.gradient-bg .g1 {
  background: radial-gradient(
      circle at top,
      rgba(var(--color1), 0.9) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  top: 40%;
  left: 15%;
  transform-origin: center center;
  animation: moveVertical 10s ease infinite;
}

.gradient-bg .g2 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.9) 0,
      rgba(var(--color2), 0) 50%
    )
    no-repeat;
  top: 20%;
  left: 40%;
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 6s reverse infinite;
}

.gradient-bg .g3 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.9) 0,
      rgba(var(--color3), 0) 50%
    )
    no-repeat;
  top: 30%;
  left: 10%;
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 8s linear infinite;
}

.gradient-bg .g4 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.9) 0,
      rgba(var(--color4), 0) 50%
    )
    no-repeat;
  top: 40%;
  left: 35%;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 10s ease infinite;
  opacity: 0.7;
}

.gradient-bg .g5 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color5), 0.9) 0,
      rgba(var(--color5), 0) 50%
    )
    no-repeat;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: 5%;
  left: 20%;
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 10s ease infinite;
}

/* products card */

.product-card {
  background: rgba(255, 255, 255, 0.32);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.footer {
  background: rgba(0, 0, 0, 0.658);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(16px);
}

.select {
  background: rgba(255, 255, 255, 0.32);
  border: 1px solid rgb(243, 243, 243);

  border-radius: 10px;
  color: #333;
  backdrop-filter: blur(16px);
}
